<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%= link_to  'Product Scraper', root_path %></li>
      <li><%= link_to  'Query', products_query_path %></li>
      <li><%= link_to  'Products', products_path %></li>
    </ul>
  </div>
</div>
