<% provide(:title, 'Home') %>

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">You're home</h1>
    </div>
  </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <%= link_to 'Start scraping products', query_path, class: "button success" %>
    </div>
  </div>
</div>
