<% provide(:title, 'Product query') %>


<div class="spacer"></div>
<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for :product_url do |f| %>
        <%= f.error_notification %>
        <%= f.input :url, label: 'Paste product\'s url' %>
        <%= f.button :submit, 'Submit', class: "button info" %>
      <% end %>
    </div>
  </div>
</div>
